<div id="terms">
    <chart-wrapper id="chart-wrapper" chart-data="ctrl.topTermEntries" ng-model="ctrl.selectedTerm"></chart-wrapper>
</div>

<div id="news">
    <div>Related News:</div>
    <related-news term="ctrl.selectedTerm"></related-news>
</div>