#timeline {
    height: 400px;
    width: 100%;
    overflow: auto;
    border: solid;
    border-color: #0086b3;
}

#top-terms {
    height: 400px;
    width: 100%;
}

#top-terms-wrapper {
    height: 100%;
    width: 100%;
}

#chart-wrapper {
    height: 100%;
    width: 100%;
}

#chart {
    height: 100%;
    width: 100%;
}

#terms {
    float: left;
    width: 30%;
    height:100%;
    border: solid;
    border-color: #0086b3;
}

#news {
    float: right;
    width: 70%;
    height:100%;
    border: solid;
    border-color: #0086b3;
    overflow: auto
}