<div ng-if="ctrl.loading()">
    <loading></loading>
</div>
<div ng-if="!ctrl.loading()">
    <ul ng-repeat="newsItem in ctrl.news">
        <li>
            <news news-info="newsItem"></news>
        </li>
    </ul>
</div