<div ng-if="!ctrl.isCurrentlyLoggedIn()">
    <a href="" ng-click="logIn()">Log in</a>
</div>

<div ng-if="ctrl.isCurrentlyLoggedIn()">
    <nobr>Hi {{getUserName()}}, to log off please click </nobr>
    <a href="" ng-click="logOff()">here</a>
</div>