<div ng-if="ctrl.isCurrentlyLoggedIn()"><div>
    <nobr>Please select the type of tweets you want to look at: </nobr>
    <select ng-model="selectedType" ng-change="ctrl.requestForTweets(selectedType)">
        <option ng-repeat="(key, value) in ctrl.timelineType" value="{{value}}">{{key}}</option>
    </select>

    <div id="timeline">
        <div>Timelines: </div>
        <div ng-if="!ctrl.loading()">
            <timeline timeline-entries="ctrl.timeline"></timeline>
        </div>
        <div ng-if="ctrl.loading()">
            <loading></loading>
        </div>
    </div>

    <div id="top-terms">
        <div>Top Terms: </div>
        <div id='top-terms-wrapper' ng-if="!ctrl.loading()">
            <top-terms top-term-entries="ctrl.terms"></top-terms>
        </div>
        <div ng-if="ctrl.loading()">
            <loading></loading>
        </div>
    </div>
</div>
</div>
